.about-page {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .whatsapp-button {
    background-color: #25D366;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004d61;
    padding-top: 20px;
    padding-bottom: 10px;  
    width: 100%;
    height: 60px;
  }
  
  .logo {
    width: 100px;
  }
  
  .tab-container {
    background-color: #004d61;
    width: 100%;
  }
  
  .about-content {
    flex: 1;
    
    overflow-y: auto;
  }
  
  .about-content h1 {
    color: #FFA500;
  }
  
  .about-content h2 {
    font-weight: bold;
  }
  