/* src/About.css */
.about-page {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.whatsapp-button {
  background-color: #25D366;
  padding: 10px 20px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004d61;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  height: 60px;
}

.logo {
  width: 100px;
}

.tab-container {
  background-color: #004d61;
  width: 100%;
}

.about-content {
  flex: 1;
  overflow-y: auto;
}

.about-content h1 {
  color: #FFA500;
}

.about-content h2 {
  font-weight: bold;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .logo {
    width: 80px;
    margin-bottom: 10px;
  }

  .whatsapp-button {
    margin-top: 10px;
    font-size: 14px;
  }

  .MuiTabs-flexContainer {
    flex-direction: column;
  }

  .MuiTab-root {
    min-width: 100%;
    text-align: center;
  }
}
